.venv/
__pycache__/
.pytest_cache/
.ipynb_checkpoints/
*.pyc

# Frontend
node_modules/
dist/
.env.local
.env.*.local

# Backend
data/qlib/**
!data/qlib/.gitignore
data/qlib_trading.db
mlruns/

# Database locks
*.db-shm
*.db-wal
